/* ==========================================================================
 * usersTable
 * ========================================================================== */

 $users-table-min-width: 820px;
 $users-table-hover-bg: $kobo-teal-light;
 
 .form-view__cell--users-table-wrapper {
   min-width: $users-table-min-width + 2px;
 }
 
 .users-table {
   width: 100%;
   background-color: $kobo-white;
   // for small screens we want the table to still be readable so we enable
   // horizontal scroll
   overflow-x: auto;
 
   &.users-table--fullscreen {
     position: fixed;
     z-index: $z-fullscreen;
     border: 15px solid $root-background;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     width: 100%;
     height: 100%;
   }
 
   &.users-table--collection-content {
     // we disable horizontal scrolling to make the popover menu appear outside the table
     overflow-x: initial;
     min-width: $users-table-min-width;
   }
 }
 
 .users-table__header .users-table-row .users-table-row__column {
   color: $kobo-black;
 }
 
 .users-table__header,
 .users-table__body,
 .users-table__footer {
   min-width: 800px;
 }
 
 .users-table__body > .loading {
   margin: 40px auto;
 }
 
 .users-table__scrollbar-padding {
   // for taking the same space as scrollbar, width is being set in JS code
   background-color: $kobo-whitegray;
   align-self: stretch;
 }
 
 .users-table__footer {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   padding: 10px;
   color: $kobo-darkgray;
   background-color: $kobo-whitegray;
   height: 40px;
 
   .mdl-button {
     margin-left: 0;
     margin-right: 0;
     padding-right: 0;
     padding-left: 12px;
     line-height: 32px;
     height: 32px;
     min-height: 32px;
 
     .k-icon {
       font-size: 32px;
       float: right;
     }
   }
 }
 
 .users-table--MY_USERS{
   height: calc(100% - #{$s-breadcrumbs-height});
   display: flex;
   flex-direction: column;
 
   .users-table__body {
     flex: 1;
     overflow-y: auto;
   }
 }
 
 /* ==========================================================================
  * usersTablePagination
  * ========================================================================== */
 
 .users-table-pagination {
   display: inline-block;
   color: inherit;
 }
 
 .users-table-pagination__index {
   display: inline;
   margin: 0 10px;
 }
 
 .users-table-pagination__button {
   appearance: none;
   background: transparent;
   padding: 0;
   margin: 0;
   border: 0;
   cursor: pointer;
   color: inherit;
   height: 20px;
 
   &:hover {
     opacity: 0.8;
   }
 
   &:active {
     opacity: 0.6;
   }
 
   &[disabled] {
     opacity: 0.5;
     pointer-events: none;
   }
 
   .k-icon {
     font-size: 20px;
     display: inline-block;
     vertical-align: middle;
   }
 }
 
 /* ==========================================================================
  * usersTableRow
  * ========================================================================== */
 
 $z-users-table-row-link: 10;
 $z-users-table-row-buttons: 20;
 $z-users-table-row-header: 30;
 
 .users-table-row {
   display: flex;
   flex-direction: row;
   position: relative;
   align-items: flex-start;
 
   &.users-table-row--user {
     &:hover {
       background-color: $users-table-hover-bg;
 
       .users-table-row__buttons {
         opacity: 1;
         visibility: visible;
       }
     }
 
     .users-table-row__column--tatus {
       padding: 13px 0 0 0;
 
       .k-icon {
         font-size: 32px;
       }
     }
   }
 
   &.users-table-row--type-collection {
     .users-table-row__column--name .asset-name {
       font-weight: 700;
     }
 
     .users-table-row__column--icon-status .k-icon {
       position: relative;
 
       &::before {
         position: relative;
         z-index: 1;
         color: $kobo-white;
       }
 
       &::after {
         content: "";
         background-color: $kobo-teal;
         position: absolute;
         z-index: 0;
         top: 0;
         left: -5px;
         right: -5px;
         height: 100%;
         border-radius: 6px;
       }
     }
   }
 
   &:first-of-type .users-table-row__column {
     border-top-color: transparent;
   }
 
   &:first-of-type:hover .users-table-row__column {
     border-top-color: $kobo-lightgray;
   }
 
   // columns get very narrow
   .users-table-row__header-label,
   &.users-table-row--header .users-table-row__column .popover-menu__toggle {
     font-size: 0.9rem;
   }
 
   &.users-table-row--header .users-table-row__column {
     border-top: 0;
     cursor: pointer;
     font-weight: 700;
     white-space: nowrap;
     height: 40px;
     line-height: 20px;
     background-color: $kobo-whitegray;
     padding: 10px;
 
     &:hover {
       background-color: $kobo-lightgray;
     }
 
     .k-icon {
       font-size: 20px;
       // to take up space when empty
       min-width: 20px;
       width: 20px;
       display: inline-block;
 
       &.k-icon-filter-arrows {
         font-size: 12px;
         margin-left: 0px !important;
       }
     }
 
     .popover-menu {
       display: block;
 
       .popover-menu__toggle {
         display: block;
         color: currentColor;
 
         &:hover {
           color: currentColor;
         }
 
         .k-icon {
           margin: -5px;
         }
       }
 
       .popover-menu__content {
         top: 30px - 2px;
         z-index: $z-users-table-row-header;
         padding: 10px;
         max-width: calc(100% + 20px);
         min-width: auto;
         left: -10px;
 
         .k-icon {
           margin: -2px;
         }
       }
     }
   }
 
   &.users-table-row--empty-message {
     padding: 40px;
     font-size: 1.2rem;
     justify-content: center;
     text-align: center;
 
     .pro-tip {
       font-size: 1rem;
       margin-top: 20px;
     }
   }
 
   .users-table-row__link {
     cursor: pointer;
     position: absolute;
     z-index: $z-users-table-row-link;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
   }
 
   .users-table-row__column {
     border-top: 1px solid $kobo-lightgray;
     padding: 10px 10px;
     color: $kobo-darkgray;
 
     &[disabled] {
       pointer-events: none;
     }
 
     &.users-table-row__column--username {
       width: 200px;
       text-align: left;
     }
 
     &.users-table-row__column--firstname {
       width: 150px;
       color: $kobo-black;
     }

     &.users-table-row__column--lastname {
      flex: 1;
      color: $kobo-black;
    }
 
     &.users-table-row__column--owner {
       width: 10%;
     }
 
     &.users-table-row__column--subscribers-count {
       width: 10%;
     }
 
     &.users-table-row__column--organization {
       width: 10%;
     }
 
     &.users-table-row__column--languages {
       width: 12.5%;
     }
 
     &.users-table-row__column--primary-sector {
       width: 15%;
     }
 
     &.users-table-row__column--country {
       width: 7.5%;
     }
 
     &.users-table-row__column--status {
       width: 17.5%;
       text-align: right;
     }
 
     .k-icon {
       vertical-align: middle;
     }
   }
 }
 
 /* ==========================================================================
  * usersTableRow tags
  * ========================================================================== */
 
 .users-table-row__tags {
   display: block;
   margin-top: 5px;
 }
 
 .users-table-row__tag {
   display: inline-block;
   vertical-align: middle;
   padding: 3px 5px;
   font-size: 12px;
   line-height: 1;
   color: currentColor;
   background: $kobo-lightgray;
   border-radius: 2px;
 
   &.users-table-row__tag--gray-circle {
     min-width: 18px;
     border-radius: 1em;
     text-align: center;
   }
 }
 
 /* ==========================================================================
  * usersTableRow buttons
  * ========================================================================== */
 
 .users-table-row__buttons {
   position: absolute;
   z-index: $z-users-table-row-buttons;
   top: 1px; // because of top border
   right: 0;
   bottom: 0; // stretch for whole row
   opacity: 0;
   visibility: hidden;
   background-color: $users-table-hover-bg;
   padding: 13px 10px 0 0;
 
   // for nicer blending in with the possible text underneath
   &::before {
     content: '';
     position: absolute;
     right: 100%;
     top: 0;
     height: 100%;
     width: 15px;
     background: linear-gradient(90deg, transparent, $users-table-hover-bg);
   }
 }
 